const isLearner = <%= (P.sess.role == 'Learner') ? true : false %>;

Vue.mixin({
  data() {
    return {
      isLearner: isLearner,
    }
  },
})

let util_mixin = {
  data() {
    return {
      isLearner: isLearner,
    }
  },
  methods: {

  }
}

var app = new Vue({
  el: '#app',
  data: {
    message: 'Hello Vue!'
  },
  template: `
    <div>
      {{ message }}
    </div>
  `,
});

Vue.component('course-listing-item', {
  props: {
    course: {
      type: Object
    }
  },
  template: `
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-img-top card-course-cover" :style="'background-image:url(/course_covers/' + course.course_id + '.png)'"/>
        <div class="card-body">
          <h4 class="card-title">{{ course.title }}</h4>
          <p style="text-align: left" class="card-text">Number of TA: {{ course.numTaActive }}
          <br> Number of students: {{ course.numStudentActive }}</p>
        </div>
        <div class="card-footer">
          <a :href="'/courses/' + course.course_id" class="btn btn-primary btn-lg">Join</a>
        </div>
      </div>
    </div>
  `,
});

var course_listing = new Vue({
  el: '#course-listing',
  data: {
    rawCourses: <%- (P.courses) ? JSON.stringify(P.courses) : JSON.stringify(null) %>,
    courses: []
  },
  methods: {
    getCourses: function() {
      this.courses = [ ];
      for (const key in this.rawCourses) {
        this.rawCourses[key].numTaActive = 0;
        this.rawCourses[key].numStudentActive = 0;
        this.courses.push(this.rawCourses[key]);
      }
      return this.courses;
    }
  }
});

var explore_section = new Vue({
  el: '#explore-section',
  data: {
    explores: {
      'Student' :[
        {
          title: 'Events',
          href: '/eventchain',
          pin: 'https://www.leedsandyorkpft.nhs.uk/news/wp-content/uploads/sites/4/2017/03/events-icon-680x680.jpg'
        }
      ],
      'Teaching Assistants' :[
        {
          title: 'Networkflow',
          href: 'https://datduyng.github.io/networkflow/simulation.html',
          pin: 'https://user-images.githubusercontent.com/35666615/52318190-de194580-2988-11e9-929d-09aec2551b13.png'
        },
        {
          title: 'Networkflow',
          href: 'https://datduyng.github.io/networkflow/simulation.html',
          pin: 'https://user-images.githubusercontent.com/35666615/52318190-de194580-2988-11e9-929d-09aec2551b13.png'
        },
        {
          title: 'Networkflow',
          href: 'https://datduyng.github.io/networkflow/simulation.html',
          pin: 'https://user-images.githubusercontent.com/35666615/52318190-de194580-2988-11e9-929d-09aec2551b13.png'
        },
      ],
    }
  }
});

Vue.component('queue-item', {
  props: {
    student: Object,
  }, 
  template: `
    <li class="list-group-item d-flex align-items-center">
      <div class="avatar">
        <img src="https://assets.servedby-buysellads.com/p/manage/asset/id/32054" alt="">
      </div>
      <div class="w-100">
        <div class="user-name">{{ student.name }}</div>
        <div class="message bg-light">Description: </div>
      </div>
      <span v-if="isLearner" class="date text-mutted ml-auto">Status: {{ student.status }}</span>
      <div v-else>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Help</button>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Remove</button>
      </div>
    </li>
  `
});


Vue.component('chat-item', {
  props: {
    chat: Object
  },
  template: `
    <div class="chat-message clearfix">
      <img
              :src="chat.image"
              alt=""
              width="32"
              height="32"
      />

      <div class="chat-message-content clearfix">
        <span class="chat-time">13:35</span>

        <h5>John Doe</h5>

        <p>
          {{ chat.msg }}
        </p>
      </div>
      <!-- end chat-message-content -->
    </div>
    <!-- end chat-message -->

  `
});

let chat = new Vue({
  el: '#chat-section',
  data: {
    chats: [{"course_id":"1810097","msg_id":"1810097:4857978315","user_id":25212877,"full_name":"Matthew L. Williams","pinned":false,"msg":"hi 1"},{"course_id":"1810097","msg_id":"1810097:4857980899","user_id":25212877,"full_name":"Matthew L. Williams","pinned":false,"msg":"hi 2"}]
  },
  methods: {
    addChat: function(chat){
      this.chats.push(chat);
    }
  }

});
let queue_status = new Vue({
  el: '#queue-status', 
  data: {
    tickets: []
  },
  methods: {
    getQueueStatus: function() {
      
    }
  },
  created: function() {

  },
  mixins: [util_mixin],
});

let user_list = new Vue({
  el: '#user-list',
  data: {
    users: <%- (P.course) ? JSON.stringify(P.course.users_info) : JSON.stringify(null) %>,
    onlines: <%- (P.course) ? JSON.stringify(P.course.online) : JSON.stringify(null) %>,
  },
  methods: {
    filteredTeacher: function() {

    }
  }

});


function userLogout() {
  console.log('logout');
  $.post('/logout', {});
  window.location.href = "https://canvas.instructure.com/";
}