
<% include ./include.js.ejs %> 

<% include ./include.css.ejs %>

<!-- Navigation -->
<% include ./nav.ejs %>

<script>
  $(document).ready(function() {
    $(".toast").toast("show");
  });
</script>
<% include ./chatbox.ejs %>
<% include ./queue_live_update.js.ejs %>

<!--<br /><br /><br /><br />-->

<div class="mt-5">
  <div id="chat-sidebar" class="chat-sidebar">
    <h5 class="ml-3">Teachers</h5>
    <div class="sidebar-name">
      <sidebar-item v-for="(item, index) in teachers" :item="item" :key="index" />
      <!-- Pass username and display name to register popup -->
<!--      <a href="javascript:register_popup('narayan-prusty', 'Narayan Prusty');">-->
    </div>
    <hr>
    <h5 class="ml-3">Students</h5>
    <div class="sidebar-name">
      <sidebar-item v-for="(item, index) in students" :item="item" :key="index" />
      <!-- Pass username and display name to register popup -->
    </div>
  </div>
</div>

<div class="container-fluid mt-5 split-left">
  <div class="row justify-content-around mt-5">
    <div class="col-4">
      <div class="toast" data-autohide="false">
        <div class="toast-header">
          <strong class="mr-auto text-primary">Announcement 1</strong>
          <small class="text-muted">5 mins ago</small>
          <button
            type="button"
            class="ml-2 mb-1 close"
            data-dismiss="toast"
            aria-label="Close"
          >
            &times;
          </button>
        </div>
        <div class="toast-body">
          Description.......
        </div>
      </div>

      <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
        <div class="toast-header">
          <strong class="mr-auto">Announcement 2</strong>
          <small class="text-muted">2 seconds ago</small>
          <button
            type="button"
            class="ml-2 mb-1 close"
            data-dismiss="toast"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body">
          Description.........
        </div>
      </div>
    </div>

<div id="queue-status" class="container-fluid mt-5 split-left">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <%= P.course.course_info.title %>
          <button v-show="isAbleGetHelpAsStudent" type="button" class="btn btn-primary ml-auto" v-on:click="onClickGetHelp">Get Help</button>
          <button v-show="isAbleToMarkDoneAsStudent" type="button" class="btn btn-secondary ml-auto" v-on:click="onClickDoneResolving">Done resolving</button>
          <button v-show="isAbleToHelpNextInLineAsTeacher" type="button" class="btn btn-secondary ml-auto" v-on:click="onClickHelpNextInLine">Help next inline</button>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <queue-item v-for="(ticket, index) in tickets" 
              :ticket="ticket"
              :is-learner="isLearner"
              :me="me"
              :raw-tickets="rawTickets"
              :key="index"
            >
            </queue-item>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> 

<!-- Sidebar -->

<!-- end Chat box -->


<% include ./client.js.ejs %>

<script src="/lib/sidebar.js"></script>
