<% include ./include.js.ejs %>
<% include ./include.css.ejs %>
<!-- Navigation -->
<% include ./nav.ejs %>
<% include ./chatbox.ejs %>
<% include ./queue_live_update.js.ejs %>
<!--<br /><br /><br /><br />-->
<div class="row mt-5">
  <div id="chat-sidebar" class="chat-sidebar">
      <h5 class="ml-3">Teachers</h5>
      <div class="sidebar-name">
         <sidebar-item v-for="(item, index) in teachers" :item="item" :key="index" />
      </div>
      <hr>
      <h5 class="ml-3">Students</h5>
      <div class="sidebar-name">
         <sidebar-item v-for="(item, index) in students" :item="item" :key="index" />
         <!-- Pass username and display name to register popup -->
      </div>
   </div>
</div>

<div class="row mt-5 split-left">
	<div class="col-sm-1"> </div>
	<!-- Left side annoucement -->
	<div id="annoucement-list" class="col-sm-4 mt-5 justify-content-center" >
		<div class="card">
			<div class="card-header annouce-title">
				Announcements
			</div>
			<div class="card-body" style="overflow-y: scroll; height:400px">
				<annoucement-item v-for="(annoucement, index) in annoucements"
								  :key="index"
								  :annoucement="annoucement">
				</annoucement-item>
			</div>
		</div>
	</div>
	<!-- End Left Announcement bar -->

	<div id="queue-status" class="col-md-7 mt-5 justify-content-center">
		<div class="card">
			<div class="card-header">
					<b><%= P.course.course_info.title %></b>
					<button v-show="isAbleGetHelpAsStudent" type="button" class="btn btn-primary ml-auto" v-on:click="onClickGetHelp">Get Help</button>
					<button v-show="isAbleToMarkDoneAsStudent" type="button" class="btn btn-secondary ml-auto" v-on:click="onClickDoneResolving">Done resolving</button>
					<button v-show="isAbleToHelpNextInLineAsTeacher" type="button" class="btn btn-secondary ml-auto" v-on:click="onClickHelpNextInLine">Help next inline</button>
			</div>
			<div class="card-body">
					<ul class="list-group list-group-flush">
						 <queue-item v-for="(ticket, index) in tickets" 
								:ticket="ticket"
								:is-learner="isLearner"
								:me="me"
								:raw-tickets="rawTickets"
								:key="index"
								></queue-item>
					</ul>
			</div>
		</div>
	 </div>
</div>



<!-- Sidebar -->
<!-- end Chat box -->
<% include ./client.js.ejs %>
<script src="/lib/sidebar.js"></script>