<% include ./include.js.ejs %> <% include ./include.css.ejs %>

<!-- Navigation -->
<% include ./nav.ejs %> <% include ./chatbox.ejs %>

<script>
  $(document).ready(function() {
    $(".toast").toast("show");
  });
</script>
<% include ./chatbox.ejs %>
<% include ./queue_live_update.js.ejs %>

<br /><br /><br /><br />

<div class="mt-5">
  <div class="chat-sidebar">
    <h5 class="ml-3">Teachers</h5>
    <div class="sidebar-name">
      <!-- Pass username and display name to register popup -->
      <a href="javascript:register_popup('narayan-prusty', 'Narayan Prusty');">
        <span class="ml-1"><span class="dot"></span>Narayan Prusty</span>
      </a>
    </div>
    <hr>
    <h5 class="ml-3">Students</h5>
    <div class="sidebar-name">
      <!-- Pass username and display name to register popup -->
      <a href="javascript:register_popup('narayan-prusty', 'Narayan Prusty');">
        <span class="ml-1"><span class="dot"></span>YOYO</span>
      </a>
    </div>
  </div>
</div>

<div class="container-fluid mt-5 split-left">
  <div class="row justify-content-around mt-5">
    <div class="col-4">
      <div class="toast" data-autohide="false">
        <div class="toast-header">
          <strong class="mr-auto text-primary">Toast Header</strong>
          <small class="text-muted">5 mins ago</small>
          <button
            type="button"
            class="ml-2 mb-1 close"
            data-dismiss="toast"
            aria-label="Close"
          >
            &times;
          </button>
        </div>
        <div class="toast-body">
          Some text inside the toast body
        </div>
      </div>

      <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
        <div class="toast-header">
          <img src="..." class="rounded mr-2" alt="..." />
          <strong class="mr-auto">Bootstrap</strong>
          <small class="text-muted">2 seconds ago</small>
          <button
            type="button"
            class="ml-2 mb-1 close"
            data-dismiss="toast"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body">
          Heads up, toasts will stack automatically
        </div>
      </div>
    </div>

    <div id="queue-status" class="col-md-7">
      <div class="card">
        <div class="card-header">
          <%= P.sess.canvas.context_label %>
          <button
            v-if="status=='needhelp' && isLearner"
            type="button"
            class="btn btn-primary ml-auto"
            v-on:click="onClickGetHelp"
          >
            Get Help
          </button>
          <button
            v-if="status=='resolving' && isLearner"
            type="button"
            class="btn btn-secondary ml-auto"
            v-on:click="onClickDoneResolving"
          >
            Done resolving
          </button>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <queue-item
              v-for="(ticket, index) in getTickets()"
              :student="ticket"
              :key="index"
            >
            </queue-item>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div id="queue-status" class="container-fluid mt-5 split-left">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <%= P.course.course_info.title %>
          <button v-if="status=='needhelp' && isLearner" type="button" class="btn btn-primary ml-auto" v-on:click="onClickGetHelp">Get Help</button>
          <button v-if="status=='resolving' && isLearner" type="button" class="btn btn-secondary ml-auto" v-on:click="onClickDoneResolving">Done resolving</button>
          <button v-if="!getIsTeacherBusy && !isLearner && tickets.length > 0" type="button" class="btn btn-secondary ml-auto" v-on:click="onClickHelpNextInLine">Help next inline</button>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <queue-item v-for="(ticket, index) in tickets" 
              :student="ticket"
              :key="index"
            >
            </queue-item>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- Sidebar -->

<!-- end Chat box -->

<script>
  <% include ./client.js.ejs %>
</script>
