<% include ./include.js.ejs %>
<% include ./include.css.ejs %>

<style>
.jumbotron{
    padding-top: 70px;
    padding-bottom: 70px;
}
</style>
<!-- Navigation -->
<% include ./nav.ejs %>

<!-- Sidebar -->
<% include ./chatbox.ejs %>

<div style="margin-top:10;"> </div>

<br /><br /><br /><br />
<div class='container-fluid'>
  <div class='row'>
    <button type="button" class="btn btn-primary">Get Help</button>
  </div>

  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Your dialogs
        </div>
        <div class='card-body'>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex align-items-center">
              <div class="avatar">
                <img src="https://assets.servedby-buysellads.com/p/manage/asset/id/32054" alt="">
              </div>
              <div class="w-100">
              <div class="user-name">Jack</div>
              <div class="message bg-light">Nope</div>
              </div>
              <span class="date text-mutted ml-auto">20:07</span>
          </li> 
      
          <li class="list-group-item d-flex align-items-center">
            
            <div class="avatar">
              <img src="https://assets.servedby-buysellads.com/p/manage/asset/id/32054" alt="">
            </div>
            <div class="w-100">
            <div class="user-name">Jack</div>
            <div class="message bg-light">Nope</div>
            </div>
            <span class="date text-mutted ml-auto">20:07</span>
      
            
          </li> 
          </ul>
        </div>

      </div>
    </div>

    <!-- <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Your dialogs
        </div>
        <div class='card-body'>
          etst
        </div>
      </div>
    </div> -->

  </div>

</div>

<script src="/client.js"></script>