<% include ./include.js.ejs %>
<% include ./include.css.ejs %>

<style>
.jumbotron{
    padding-top: 70px;
    padding-bottom: 70px;
}

#search{
  display: flex;
  justify-content: center;
}
</style>
<!-- Navigation -->
<% include ./nav.ejs %>

<br /><br /><br /><br /><br /><br /><br />

<div id='main'>
  <!-- Page Content -->
  <div class="container mt-5">
    <br /><br /><br /><br /><br />
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4 d-none d-md-block">
      <h1 class="display-4 text-center">Search for courses</h1>
      <nav class="navbar navbar-light bg-light" id="search">
        <form class="form-inline justify-content-center">
          <input class="form-control mr-sm-2c" style="width: 500px; height: 50px" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </nav>
    </header>

    <!-- Page Features -->
    <div id='course-listing' class="row text-center">
      <course-listing-item v-for="(course, index) in getCourses()"
        :course='course'
        :key='index'
      />
    </div>
    <!-- /.row -->

  </div>
</div>

<script>
  <% include ./client.js.ejs %>
</script>