<style>
  .navbar{
    font-size: 20px;
    color: whitesmoke;
  }

  #username{
    font-size: 1.3rem;
    padding-right: 70px;
  }
</style>

<nav style="background-color: #d00000" class="navbar navbar-expand-md navbar-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/dashboard">Hey My TA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="form-inline my-2 my-lg-0 d-lg-none">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item d-none d-lg-block" id="username">
            <a class="nav-link" href="#"><%=P.sess.user.full_name%> <%=P.sess.user.role==='Learner'?' (Student)':' (Teacher)'%></a>
          </li>
          <li class="nav-item" id="logout">
            <a class="nav-link" href="#" onclick="userLogout()">Logout <i class="fas fa-user"></i></a>

            <!-- <button type="button" class="btn btn-link" onclick="userLogout()">
              Logout <i class="fas fa-user"></i>
            </button> -->
          </li>
        </ul>
    </div>
  </div>
</nav>